@charset "utf-8";
/* CSS Document */
*{
	border:0;
	margin:0;
	padding:0;
}
#banner{
	width: 800px;
	height:198px;
	background-color:#000;	
}
#abgneBlock {
	width: 607px;
	height: 386px;
	position: relative;
	overflow: hidden;
	float: left;
	margin:71px 0 0 154px;
/*	border: 1px solid #ccc;*/
}
#abgneBlock ul.list {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	width: 9999px;
	height: 100%;
}
#abgneBlock ul.list li {
	float: left;
	width: 607px;
	height: 100%;
}
#abgneBlock .list img{
	width: 100%;
	height: 100%;
	border: 0;
}
#abgneBlock ul.playerControl {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 14px;
}
#abgneBlock ul.playerControl li {
	float: left;
	width: 10px;
	height: 14px;
	cursor: pointer;
	margin: 0px 2px;
	background: url(../images/rect_ctrl.png) no-repeat 0 0;
}
#abgneBlock ul.playerControl li.current { 
	background-position: -10px 0;
}
#banner_list01{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;	
	background-image:url(../images/1-3.png)
}
#banner_list01:hover{
	background-image:url(../images/1-2.png);
	cursor:pointer;
}
#banner_list02{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;		
	background-image:url(../images/2-3.png)
}
#banner_list02:hover{
	background-image:url(../images/2-2.png);
	cursor:pointer;
}
#banner_list03{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;		
	background-image:url(../images/3-3.png)
}
#banner_list03:hover{
	background-image:url(../images/3-2.png);
	cursor:pointer;
}
/*#banner_list04{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;		
	background-image:url(../images/4-1.png)
}
#banner_list04:hover{
	background-image:url(../images/4-2.png);
	cursor:pointer;
}
*/
@media screen and (max-width:600px){
*{
	border:0;
	margin:0;
	padding:0;
}
#banner{
	width: 800px;
	height:198px;
	background-color:#000;	
}
#abgneBlock {
	width:90%;
	height: 386px;
	position: relative;
	/*overflow: hidden;*/
	float: left;
	margin:71px 0 0 0;
	display:none;
/*	border: 1px solid #ccc;*/
}
#abgneBlock ul.list {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	width: 9999px;
	height: 100%;
}
#abgneBlock ul.list li {
	float: left;
	width: 90%;
	height: 100%;
}
#abgneBlock .list img{
	width: 100%;
	height: 100%;
	border: 0;
}
#abgneBlock ul.playerControl {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 14px;
}
#abgneBlock ul.playerControl li {
	float: left;
	width: 10px;
	height: 14px;
	cursor: pointer;
	margin: 0px 2px;
	background: url(../images/rect_ctrl.png) no-repeat 0 0;
}
#abgneBlock ul.playerControl li.current { 
	background-position: -10px 0;
}
/*#banner_list01{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;	
	background-image:url(../images/1-3.png)
}
#banner_list01:hover{
	background-image:url(../images/1-2.png);
	cursor:pointer;
}
#banner_list02{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;		
	background-image:url(../images/2-3.png)
}
#banner_list02:hover{
	background-image:url(../images/2-2.png);
	cursor:pointer;
}
#banner_list03{
	width:80px;
	height:240px;
	margin:0 0 0 5px;
	float:left;		
	background-image:url(../images/3-3.png)
}
#banner_list03:hover{
	background-image:url(../images/3-2.png);
	cursor:pointer;
}*/
}