@charset "utf-8";
/*nav*/
	.nav {
		display: none;
	}
    header .nav ul{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
	}
	header .nav ul li{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
		 height:35px;
		 line-height:35px;
    }
    .nav a{
		 color:#FFF;
		 text-decoration:none;
    }
	.nav2 {
		display: none;
	}
    header .nav2 ul{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
	}
	header .nav2 ul li{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
		 height:35px;
		 line-height:35px;
    }
    .nav2 a{
		 color:#FFF;
		 text-decoration:none;
    }
	.nav3 {
		display: none;
	}
    header .nav3 ul{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
	}
	header .nav3 ul li{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
		 height:35px;
		 line-height:35px;
    }
    .nav3 a{
		 color:#FFF;
		 text-decoration:none;
    }
	.nav4 {
		display: none;
	}
    header .nav4 ul{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
	}
	header .nav4 ul li{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
		 height:35px;
		 line-height:35px;
    }
    .nav4 a{
		 color:#FFF;
		 text-decoration:none;
    }
	.nav5 {
		display: none;
	}
    header .nav5 ul{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
	}
	header .nav5 ul li{
		 margin:0 0 0 0;
		 /*background-color:#FF6699;*/
		 height:35px;
		 line-height:35px;
    }
    .nav5 a{
		 color:#FFF;
		 text-decoration:none;
    }
	/*.nav li:hover ul {
         position: relative;
         display: block;
         background: transparent;
    }*/
    /*.nav li:hover ul li{
         background: transparent;
    }*/
    /*.nav li:hover ul li a{
         padding-left: 30px;
    }*/
    /*.arrow-bottom {
         top: 20px;
    }*/
/*nav*/

